*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #e5e5e5;
}

.menu {
  width: 224px;
  background: #112748;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 8px 16px;
  color: white;
  font-size: 24px;
  font-weight: 700;
}

.body {
  padding: 8px 16px;
  width: 100%;
}

.expense-manager {
  display: flex;
  flex-direction: column;

  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 8px 16px;
  margin-bottom: 8px;
}

.expense-manager-header {
  display: flex;
  justify-content: space-between;
}
.expense-manager-welcome-text {
  color: #858585;
  font-size: 12px;

  margin-bottom: 32px;
}

.expense-manager-balance-info {
  display: flex;
}

.expense-manager-balance-info-recieve {
  width: 300px;
}

.recieved-text {
  color: #10aa70;
}

.paid-text {
  color: #e02020;
}

.text-info {
  color: #5a5a5a;
  font-size: 10px;
}

.no-entry {
  padding: 8px 16px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  border-radius: 4px;
}

.box {
  display: flex;
  background-color: white;
  flex-direction: column;
  border-radius: 4px;
}

.box-data {
  padding: 8px 16px;
}

.box-item {
  display: flex;
  background-color: #fafafa;
  justify-content: space-between;
  padding: 8px 16px;
  border-radius: 4px;
}

.btnAddEntry {
  display: block;
  border: none;
  padding: 8px;
  border-radius: 4px;
  background-color: #0066fd;
  color: white;
  cursor: pointer;
}

.react-responsive-modal-modal {
  width: 600px;
}
